@media screen and (max-width: 767px) {
    .wrapper {
        display: grid;
        position: relative;
        justify-content: center;
        margin-top: 1rem;
        bottom: 3.5em;
        align-items: center;
        overflow: hidden;
    }

    .title {
        font-size: 16px;
        line-height: 0px;
    }
}