@media screen and (max-width: 767px) {
    .wrapper {
        display: grid;
        position: relative;
        justify-content: center;
        margin-top: 1rem;
        bottom: 3.5em;
        align-items: center;
        overflow: hidden;
    }

    .title {
        position: relative;
        font-size: 1rem; /* 16px */
        line-height: 0px;
        bottom: 35px;
        right: 55px;
        margin: 0.5rem auto;
    }

}