.addressBox {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    /*position: absolute;*/
    list-style: none;
    background: #FECA57;
    margin: 0.5vh 17px 17px 17px;
    padding: 34px;
    border-radius: 10px;
    max-height: 7.75rem;
    /* 124px */
    display: grid;
    row-gap: 24px;
    grid-template-columns: auto 110px;
    justify-content: space-between;
    align-content: space-between;
}

.addressBox button {
    padding: 0;
    height: fit-content;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    font-weight: 500;
    line-height: 15px;
    cursor: pointer;
}

.timeInputContainer,
.timeContainer {
    display: flex;
    align-items: center;
}

.timeContainer p {
    margin: 0;
}

.clockIcon {
    height: 14px;
    margin-right: 10px;
}

.timeInput {
    font-family: inherit;
    font-size: 1rem;
    height: 25px;
    border-radius: 10px;
}