@media screen and (max-width: 767px) {
    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 343px;
        height: 211px;
        background-color: #F1F2F6;
        border-radius: 10px;
        margin: 11px auto;
        padding: 7px 0;
    }

    .img {
        object-fit: cover;
        width: 329px;
        height: 132px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .distance {
        background-color: #F1F2F6;
        opacity: 60%;
        backdrop-filter: blur(2px);
        position: absolute;
        left: 5.67%;
        right: 72.27%;
        bottom: 48.02%;
        border-radius: 10px;
        width: 64px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .distanceText {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #0A191E;
        font-size: 12px;
    }

    .title {
        font-size: 14px;
        margin: 8px 7px;
    }

    .ul {
        display: flex;
        gap: 1.5rem;
        margin: 0 0px;
        padding-left: 1.4rem;
    }

    .li {
        font-size: 12px;
        color: #8F9698;
        list-style-position: outside;
    }

    .price {
        font-size: 12px;
        color: #8F9698;
        list-style-type: none;
    }

    .ratingWrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        margin: 8px 5px;
    }

    .smile {
        color: #31B9CC;
        margin: 0px;
    }
}