.inputContainer {
    margin: 16px;
    background-color: #F1F2F6;
    border-radius: 10px;
}

.inputContainer input {
    box-sizing: border-box;
    height: 41px;
    width: 80%;
    padding: 13px 12px;
    border-radius: 10px;
    border: none;
    background-color: inherit;
    
    font-family: inherit;
    font-size: 12px; /* usar rem */
}
.inputContainer input::placeholder {
   color: #000;
}

div {
    color: #000;
}