@media screen and (max-width: 767px) {
    .wrapper {
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 25px;
    }

    .restaurantsAvaible {
        color: #798184;
        font-size: 12px;
        padding-left: 2rem;
        margin: 0px;
    }

    .cartItems {
        color: #ffffff;
        font-weight: medium;
        font-family: 'Roboto', sans-serif;
    }

    .cartWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FECA57;
        width: 60px;
        height: 43px;
        border-radius: 16px;
        gap: 10px;
    }


}