.wrapper {
    background-color: #FECA57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 11;
    font-family: "cera-pro", sans-serif;
    font-weight: bold;
    touch-action: none;
}

.pick {
    font-size: 5em;
    -webkit-text-stroke: 2px;
    transform: rotate(-10deg);
    position: absolute;
    top: 20vh;
    letter-spacing: 5px;
    animation: pacmanPick 2s infinite;
}

.line {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    -webkit-text-stroke: 4px;
    line-height: 0px;
    position: absolute;
    top: 40vh;
    right: 25vw;
    animation: fruit 2s infinite;
}

.eat {
    font-size: 5em;
    -webkit-text-stroke: 2px;
    transform: rotate(10deg);
    line-height: 0;
    letter-spacing: 5px;
    animation: pacmanEat 2s infinite;
}

.slogan {
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: normal;
}

@keyframes pacmanPick {
    0% {
        transform: translateX(-100%) rotate(-30deg);
    }

    25% {
        transform: translateX(-75%) rotate(0deg);
    }

    50% {
        transform: translateX(-50%) rotate(-30deg);
    }

    75% {
        transform: translateX(-25%) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(-30deg);
    }
}

@keyframes pacmanEat {
    0% {
        transform: translateX(-100%) rotate(30deg);
    }

    25% {
        transform: translateX(-75%) rotate(0deg);
    }

    50% {
        transform: translateX(-50%) rotate(30deg);
    }

    75% {
        transform: translateX(-25%) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(30deg);
    }
}

@keyframes fruit {
    0% {
        transform: translateX(100vw);
    }

    80% {
        opacity: 100%;
    }

    100% {
        transform: translateX(-20vw);
        opacity: 0;
    }
}