@media screen and (max-width: 767px) {
.modalBackground{
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px); 
    position: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
    z-index: 1;

}

.modalContainer{
    width: 100vw;
    height: 75vh;
    border-radius: 30px 30px 0px 0px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.closeButton{
    align-self: flex-end;
    padding: 20px;
    width: 20px;
    height: 20px;
}
.modalTitle{
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 20px;
}


}