@font-face {
  font-family: 'cera-pro';
  src: url('./assets/fonts/cerapro-bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cera-pro';
  src: url('./assets/fonts/cerapro-medium.otf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'cera-pro';
  src: url('./assets/fonts/cerapro-light.otf');
  font-weight: light;
  font-style: normal;
}

html {
  font-size: 62.5%; /* 1rem = 10px (útil para el diseño responsive) */
}

body {
  margin: 0;
  font-family: "cera-pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}